body {
    background-color: rgba(241, 105, 207, 0.767);
    text-align: center;

}

header p {
    text-align: center;


}
img{
    width: 15%;

}






















p {
    text-align: center;


}



.quote {
    color:white;
    
}


footer p {
    padding: 10px;
    text-align: center;

}